{% extends 'base.html.twig' %}

{% block title %}Garage Vincent Parrot
{% endblock %}

{% block body %}
	<!-- Jumbotron Start -->
  <div class="container-fluid">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg m-2">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Garage Vincent Parrot - Votre Destination Automobile à Toulouse</h1>
        <p class="lead">Le Garage Vincent Parrot incarne l'excellence dans le monde automobile à Toulouse. 
        Depuis notre ouverture, nous avons su nous démarquer en tant que référence en matière de services automobiles 
        de haute qualité. Situé au cœur de la ville, notre garage est devenu un lieu de confiance pour les passionnés 
        d'automobiles et les conducteurs soucieux de l'entretien de leurs véhicules.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Contactez-nous</button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="pictures/bg_jumbotron.jpg" alt="" width="720">
      </div>
    </div>
  </div>
	<!-- Jumbotron End -->
{% endblock %}
