<!--  -->
<div class="sticky-top">
  {{ form_start(formFilterVehicles) }}
  {{ form_widget(formFilterVehicles) }}
    <button type="submit" class="btn btn-primary">Rechercher</button>
  {{ form_end(formFilterVehicles) }}
</div>
<!--  -->
